<div class="page-header">
  <h3>Category #<%= @category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @category.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Category has many transactions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Transactions
      </li>

      <% @category.transactions.each do |transaction| %>
        <li class="list-group-item">
          <a href="/transactions/<%= transaction.id %>">
            <%= transaction.amount %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/transactions/<%= transaction.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/transactions/<%= transaction.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_transaction/<%= transaction.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_transaction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <!-- Label and input for transaction_type -->
      <div class="form-group">
        <label for="transaction_type" class="control-label">
          Transaction type
        </label>

        <input type="text" id="transaction_type" name="transaction_type" placeholder="Transaction type" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <input type="hidden" name="category_id" value="<%= @category.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for account_id -->
      <div class="form-group">
        <label for="account_id" class="control-label">
          Account
        </label>

        <%= select_tag(:account_id, options_from_collection_for_select(Account.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for tagging_id -->
      <div class="form-group">
        <label for="tagging_id" class="control-label">
          Tagging
        </label>

        <input type="text" id="tagging_id" name="tagging_id" placeholder="Tagging" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Transaction
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
